
<p-card>
  <p-header>
    <h1>Funcionários</h1>
    <p-button label="Novo" routerLink="/funcionarios/novo"></p-button>
  </p-header>
    <p-table [value]="listaFuncionarios" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <th>Nome</th>
            <th>Status</th>
            <th>Cargo</th>
            <th>Filial</th>
            <th>Ações</th>
        </ng-template>

        <ng-template pTemplate="body" let-funcionario >
            <tr>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.status }}</td>
                <td>{{ funcionario.cargo_id }}</td>
                <td>{{ funcionario.filial_id }}</td>
                <td>
                  <button pButton icon="pi pi-check" [routerLink]="['/funcionarios', funcionario.id]"></button>
                  <button pButton icon="pi pi-times" (click)="excluir(funcionario.id)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="5">
                    <p style="text-align: center;">Nenhum funcionário cadastrado</p>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
