<p-card header="Formulário de Funcionários">
  <div class="ui-g">
    <form [formGroup]="formulario" (submit)="salvar()">
      <div class="ui-g-6 ui-md-6 ui-sm-6">
        <span class="md-inputfield">
          <input formControlName="nome" pInputText type="text" maxlength="100" />
          <label>Nome</label>
        </span>
      </div>
      <div class="ui-g-6 ui-md-6 ui-sm-6">
        <span class="md-inputfield">
          <input formControlName="data_aniversario" pInputText type="text" maxlength="10" />
          <label>Data aniversário</label>
        </span>
      </div>
      <div class="ui-g-6 ui-md-6 ui-sm-6">
        <span class="md-inputfield">
          <p-dropdown [options]="sexos" formControlName="sexo"></p-dropdown>
        </span>
      </div>
      <div class="ui-g-6 ui-md-6 ui-sm-6">
        <span class="md-inputfield">
          <input formControlName="cpf" pInputText type="text" maxlength="11"/>
          <label>CPF</label>
        </span>
      </div>

      <p-fieldset legend="Endereço">
        <div class="ui-g-4 ui-md-4 ui-sm-4">
          <span class="md-inputfield">
            <input formControlName="rua" pInputText type="text" />
            <label>Rua</label>
          </span>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4">
          <span class="md-inputfield">
            <input formControlName="bairro" pInputText type="text" />
            <label>Bairro</label>
          </span>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4">
          <span class="md-inputfield">
            <input formControlName="numero" pInputText type="text" maxlength="6" />
            <label>Número</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-6 ui-sm-6">
          <span class="md-inputfield">
            <input formControlName="cidade" pInputText type="text" />
            <label>Cidade</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-6 ui-sm-6">
          <span class="md-inputfield">
            <input formControlName="uf" pInputText type="text" maxlength="2" />
            <label>UF</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-6 ui-sm-6">
          <span class="md-inputfield">
            <input formControlName="cep" pInputText type="text" />
            <label>CEP</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-6 ui-sm-6">
          <span class="md-inputfield">
            <input formControlName="complemento" pInputText type="text" />
            <label>Complemento</label>
          </span>
        </div>
      </p-fieldset>

      <p-fieldset legend="Empresa">
        <div class="ui-g-4 ui-md-4 ui-sm-4">
          <span class="md-inputfield">
            <p-dropdown [options]="cargos" formControlName="cargo_id" ></p-dropdown>
            <!-- <input formControlName="cargo_id" pInputText type="text" /> -->
            <label>Cargo</label>
          </span>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4">
          <span class="md-inputfield">
            <p-dropdown [options]="filiais" formControlName="filial_id" ></p-dropdown>
            <!-- <input formControlName="filial_id" pInputText type="text" /> -->
            <label>Filial</label>
          </span>
        </div>
          <div class="ui-g-4 ui-md-4 ui-sm-4">
            <span class="md-inputfield">
              <input formControlName="salario" pInputText type="text" />
              <label>Salário</label>
            </span>
        </div>
      </p-fieldset>
      <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
    </form>
  </div>
</p-card>

